* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
}

/* CSS PART */
.blue {
    color: blue;
}

#card {
    border: 1px solid black;
}

#card td {
    border: 1px solid black;
    text-align: center;
}
.red {
    border-color: red;
    color: red;
}
.tense {
    border-spacing: 0;
}
.tense td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

/* CSS PART */

#main-box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    padding: 50px;
}

.red-target {
    width: 98px;
    height: 98px;
    background-color: red;
    border: 4px dashed black;
}

#shaped-table {
    width: 300px;
    height: 150px;
}
#shaped-table td {
    border: 2px solid black;
}
.aquaverde :nth-child(2n+1) {
    background-color: #eeeee4;
}

.purple-blocks {
    width: 300px;
    border: 2px solid black;
    padding: 0 8px;
    margin: 5px 0;
}

.purple {
    background-color: purple;
    margin-top: 8px;
    padding: 5px;
}
.purple p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.one-quarter {
    width: 25%;
}
.three-quarter {
    width: 75%;
}
.right-align {
    margin-left: 25%;
}
.purple-blocks:nth-child(2n) p {
    text-align: right;
}

#inline-block-rows {
    width: 300px;
    font-size: 0;
}
.row {
    display: inline-block;
    padding: 20px; /*why when I add left/righ padding it doesn't work?*/
    width: 75px;
    background-color: red;
    border-left: 2px solid black;
}

.row:last-of-type {
    border-right: 2px solid black;
}

.row p {
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.black-row .row {
    margin-top: 2px;
    display: inline-block;
    padding: 20px; /*why when I add left/righ padding it doesn't work?*/
    width: 75px;
    background-color: black;
    border-left: 2px solid red;
}
.black-row .row:last-of-type {
    border-right: 2px solid red;
}

#main-container {
    
    width: 300px;
}
.flexbox {
    margin-top: 5px;
    display:flex;
}

.flexbox-col {
    background-color: orange;
    border-left: 2px solid green;
    flex-grow:1;
    padding: 20px;
}

.flexbox-col:last-of-type {
    border-right: 2px solid green;
}

.flexbox-col p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.green {
    background-color: green;
    border-left: 2px solid orange;
}

.green:last-of-type {
    border-right: 2px solid orange;
}
